<a routerLink="/" class="button back">← Retour</a>

<div class="card wide block" *ngIf="data() as d">
  <h2>{{ d.video.title || '(sans titre)' }}</h2>
  <div class="meta">publié: {{ d.video.published_at | localDateTime }}</div>
  <p class="desc" *ngIf="d.video.description">{{ d.video.description }}</p>
</div>

<div class="card kpi wide block" *ngIf="data() as d2">
  <div><b>Vues (total):</b> {{ rollViewsSum() | intFr }}</div>
  <div><b>Likes:</b> {{ rollLikes() | intFr }}</div>
  <div><b>Commentaires:</b> {{ rollComments() | intFr }}</div>
  <div><b>Partages:</b> {{ rollShares() | intFr }}</div>
  <div><b>Durée des vues, total:</b> {{ rollWatchEqSeconds() | hms }}</div>
  <div><b>Taux d’engagement:</b> {{ rollEngRate() }}</div>
</div>

<div class="card wide block">
  <h3>Evolution des vues (global)</h3>
  <app-time-series-chart [series]="globalViewsSeries()" [height]="240" [renderer]="'svg'"></app-time-series-chart>
</div>

<div class="card wide block" *ngIf="latestRows().length">
  <h3>Plateformes (dernier snapshot)</h3>
  <table>
    <thead>
    <tr>
      <th>Plateforme</th>
      <th>Vues</th>
      <th>Dernier snapshot</th>
      <th class="col-spark">Trend</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let r of latestRows(); trackBy: trackByPlatform">
      <td>{{ r.src.platform }}</td>
      <td>{{ fmtInt(r.l?.views_native || r.l?.views) }}</td>
      <td>{{ toLocal(r.l?.snapshot_at) }}</td>
      <td class="col-spark">
        <app-time-series-chart
          [series]="platformViewsSeries(r.src.platform)"
          [height]="28"
          [axis]="false"
          [renderer]="'svg'">
        </app-time-series-chart>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="card wide block" id="charts-by-platform" *ngIf="latestRows().length">
  <h3>Courbe par plateforme</h3>
  <div class="grid-2">
    <div *ngFor="let r of latestRowsDedup; trackBy: trackByPlatform" class="grid-item">
      <h4>{{ r.src.platform }}</h4>
      <app-time-series-chart
        [series]="platformViewsSeries(r.src.platform)"
        [height]="180"
        [renderer]="'svg'">
      </app-time-series-chart>
    </div>
  </div>
</div>


<div class="card wide block" *ngIf="hasAnyReactions()">
  <h3>Réactions (détail)</h3>
  <ul class="raw-list">
    <li *ngFor="let r of reactionsRows(); trackBy: trackByPlatform">
      <b>{{ r.src.platform }}</b> :
      <ng-container *ngIf="showIfPos(r.l?.reactions_like)"><br/>{{ r.l?.reactions_like | intFr }} 👍 J'aime</ng-container>
      <ng-container *ngIf="showIfPos(r.l?.reactions_love)"><br/>{{ r.l?.reactions_love | intFr }} ❤️ J'adore</ng-container>
      <ng-container *ngIf="showIfPos(r.l?.reactions_wow)"><br/>{{ r.l?.reactions_wow | intFr }} 😮 Wow</ng-container>
      <ng-container *ngIf="showIfPos(r.l?.reactions_haha)"><br/>{{ r.l?.reactions_haha | intFr }} 😂 Haha</ng-container>
      <ng-container *ngIf="showIfPos(r.l?.reactions_sad)"><br/>{{ r.l?.reactions_sad | intFr }} 😢 Triste</ng-container>
      <ng-container *ngIf="showIfPos(r.l?.reactions_angry)"><br/>{{ r.l?.reactions_angry | intFr }} 😡 Furieux</ng-container>
    </li>
  </ul>
</div>
